/* Reset do Browser */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #263138;
}

/* Header --- Menu */
.menu{
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 24px 80px;    
}

.menu nav a{
    color: #FFF;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
}

/* Fixar menu - topo */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Header ocupa 100% de qualquer tela */
    z-index: 100; /* Header fica acima dos outros elementos */
}

/* Configuração da Seção Início */
#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

h1, 
h2{
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 30px;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 64px;
}

.botao{
    background-color: #ff9a6c;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente{
    background-color: transparent;
    color: #FF725E;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute{
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Fim da configuração da Seção Inicio */

/* Começo da configuração da Seção Clinica */

#clinica{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

#clinica .paragrafo{
    line-height: 150%;
    margin-bottom: 64px;
    position: relative;
    bottom: 30px;
}

#clinica h1{
    position: relative;
    bottom: 30px;
}

#clinica ul{
    position: relative;
    left: 50px;
    bottom: 70px;
}

#clinica li{
    margin-bottom: 20px;
}

#clinica .botao,
#clinica .botao-transparente{
    position: relative;
    bottom: 40px;
    left: 10px;
}